:root {
    --cor-de-fundo: #ea8bf3;
    --texto: #201414;
}
/* ghjkiuhgg */
body {
    background-color: var(--cor-de-fundo);
    color:var(--texto);
}

header{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.img-intro{
    width: 10%;

}

.intro{
    display: flex;
}