:root {
    --cor-de-fundo: #d6d6d6;
    --texto: #3ba1db;
}
/* ghjkiuhgg */
body {
    background-color: var(--cor-de-fundo);
    color:var(--texto);
}

header{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.img-intro{
    width: 40%;

}

.intro{
    display: flex;
}
.imgdois{
    width: 40%;
}

#equipe{
 display: grid;
 grid-template-columns: 50% 50%;
 text-align: center;   

}
.foto-equipe{
    width: 20%;

}
header a{
    color: rgb(0, 0, 0);
    text-decoration: none;

}