:root{
    --cor-de-fundo: #eef3f5;
    --texto: #5ec3e2;
}
body{
    /* hhhhhh */
    background-color:var(--cor-de-fundo);
    color: var(--texto);
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    }
    img{
        width: 10%;
    }
header{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}
.img-filmes{
    width: 10%;
}
    .filmes{
        display: flex;
        justify-content: space-between;
        margin: 20px;
    }
 .subtítulo{
display: flex;
 }
        
 .introdução{
    display: flex;
    border: 3px solid  #000000;
    border-radius: 30px;
 }
 #equipe{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
    align-items: center;
 }

 .foto-equipe{
    width: 40%;
 }
header a{
    color: rgb(0, 0, 0);
    text-decoration:none;
 }
 footer{
    background-color: rgb(230, 254, 255);
 }